body{
    margin: 0;
    font-family: 'Lexend';
    background-color:#f7f2ef;
}

.container{
    /* border: 1px solid magenta; */
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
}

.container-nav{
    display: flex;
    justify-content: space-between;
}

header{
    background-color: #E1DCD9;
    padding: 2em 0;
}

@media (max-width: 768px){
    .container-nav{
        flex-direction: column;
    }
    header{
        text-align: center;
    }
}

.logo{
    text-decoration: none;
}

h1{
    font-family: 'Lexend';
    font-weight: 1000;
    color: #726259;
    font-size: 2.5rem;
    margin: 0;
}

.subtitle{
    font-weight: 700;
    color: #392F29;
    font-size: .75rem;
    margin: 0;
}

nav ul{
    /* border: 1px solid magenta; */
    list-style: none;
    padding:0;
    display: flex;
    justify-content: center;
}

nav li{
    margin-left: 2em;
    /* border: 2px solid black; */
    
}

nav a{
    /* border: 1px solid orange; */
    text-decoration: none;
    color: #32435F;
    font-weight: 700;
    padding: .25em 0;
}

nav a:hover, nav a:focus{
    color: #0c0a1b;
}

.current-page{
    border-bottom: 1px solid #32435F;
}

.current-page:hover{
    color:#32435F;
}

@media (max-width: 768px){
    nav ul{
        flex-direction: column;
    }

    nav li{
        margin: .5em 0;
    }
}

@media (max-width: 480px){
    nav ul{
        flex-direction: column;
    }

    nav li{
        margin: .5em 0;
    }
}

.history-text{
    text-align: center;
    font-size: 5rem;
    margin-top: 7%;
    color: #32435F;
    font-weight: 700;
    margin-bottom: 7%;
}
.timeline{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-entry{
    margin-left: 150px;
	position: relative;
	width: 500px;
	color: white;
	text-align: justify;
	transition: all .5s;
}

.timeline-desc{
    background-color: #32435f;
	padding: 20px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.timeline_decor{
    display: block;
}

@media (max-width: 768px){
    .history-text{
        text-align: center;
        font-size: 4.5rem;
    }
    .timeline-decor{
        display: none;
    }
    .timeline-entry{
        margin-left: 0px;
        width: 300px;
    }
}

@media (max-width: 480px){
    .history-text{
        text-align: center;
        font-size: 3rem;
    }
    .timeline-decor{
        display: none;
    }
    .timeline-entry{
        margin-left: 0px;
        width: 300px;
    }
}


.timeline-line{
    position: absolute;
    background-color: #32435F;
    left: -150px;
    width: 10px;
    transform: translateX(-50%);
}

.timeline-line--start{
    top: 50%;
    height: 50%;
}

.timeline-line--middle{
    height: 100%;
}

.timeline-line--end{
    height: 50%;
	bottom: 50%;
}

.timeline-circle{
    position: absolute;
	height: 25px;
	width: 25px;
	top: 50%;
	left: -150px;
	transform: translate(-50%, -50%);
	background-color:#32435F;
	border-radius: 50%;
}

.timeline-triangle{
    position: absolute;
	width: 0px;
	height: 0px;
	left: -19px;
	top: 50%;
	transform: translateY(-50%);
	border-width: 15px 20px 15px 0;
	border-style: solid;
	border-color: transparent #32435F transparent transparent; 
}

img{
    width: 100%;
}
footer{
    min-height: 382px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #E1DCD9;
}

.footercontainer{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 5em 5em;
    /* border: 1px solid black; */
}

.footertext{
    color: #726259;
    font-weight: 700;
    font-family: 'Lexend';
    font-size: 3em;
    margin-left: 2em;
    margin-bottom: 0;
    /* border: 1px solid black; */
}

.footer-col1{
    width: 50%;
}

.footer-col2{
    width: 50%;
    margin-top: 15em;
}
.icon{
    /* border: 1px solid orange; */
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    /* margin: 2em 2em; */
    margin-left: 7em;
    margin-top: 0;
}

.item1, .item2, .item3, .item4{
    width: 20%;
    /* border: 1px solid black; */
    margin-right: 0;
    margin: 0;
}

.footer-col2{
    /* border: 1px solid black; */
    flex-wrap: wrap;
    align-items: flex-end;
    text-align: right;
    justify-content: end;
}

.copyright-text{
    font-size: smaller;
    font-family: 'Lexend';
    color: #726259;
}

@media (max-width:480px){
    footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footercontainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footertext{
        text-align: center;
        margin: auto;
        font-size: 2em;
    }

    .icon{
        width: 80%;
        margin: auto;
    }
    .item1, .item2, .item3, .item4{
        width: 100%;
        margin: auto;
    }
    .footer-col1{
        width: 100%;
        align-items: center;
        margin: auto;
    }
    .footer-col2{
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 5rem;
    }
}

@media (max-width:768px){
    footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footercontainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footertext{
        text-align: center;
        margin: auto;
        font-size: 2em;
    }

    .icon{
        width: 80%;
        margin: auto;
    }
    .item1, .item2, .item3, .item4{
        width: 100%;
        margin: auto;
    }
    .footer-col1{
        width: 100%;
        align-items: center;
        margin: auto;
    }
    .footer-col2{
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 5rem;
    }
}